fastapi==0.128.0
uvicorn==0.31.1

# ORM / DB
sqlmodel==0.0.32
SQLAlchemy==2.0.46
psycopg[binary]==3.3.2
asyncpg==0.27.0  

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.12
better-auth==0.0.1b11
bcrypt==3.2.2

# Env
python-dotenv==1.0.0

# AI / MCP
openai-agents==0.7.0
mcp==1.26.0
